numpy
scipy
sympy
pandas
hyperopt
tqdm
h5py
joblib
scikit-learn
lightgbm
xgboost
tensorflow
keras
gensim
nltk
opencv-python
pillow
jupyter
jupyterthemes
matplotlib
seaborn
pydot
eli5
google-cloud-bigquery
boto3
